extends layout
include hide-scrollbar

block body
    section.hero.is-fullheight.is-info.is-bold
        .hero-body
            .container
                h1.title(style='margin: 2% 25%') Please Authenticate
                .box(style='margin: 0% 25%')
                    .field.has-addons
                        .control.is-expanded
                            form#mainForm
                                input.input.is-info.is-fullwidth(name='guess', type='password', placeholder='Auth Key')
                        .control
                            div(onclick='$("#mainForm").submit();').button.is-info
                                span.icon   
                                    i.fas.fa-unlock
                                span Unlock