doctype html
html
    head
        //- Load fontawesome (icons) and bulma.io (styling) :P 
        //- Oh, and jQuery ofc
        script(src='https://code.jquery.com/jquery-3.5.1.min.js')
        script(defer, src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
        link(rel='stylesheet', href='https://static.erwijet.com/mikaela18/styles.css')
        link(defer rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

        title Mikaela's Messages

        block head
    body
        block body